[Unit]
Description=Remove and re-add the required gw for ovpn routing table

[Service]
Type=oneshot
User=root
ExecStart=-{{ ip_bin_path }} route del default via 10.200.0.1 dev tun0 table ovpn
ExecStart=-{{ ip_bin_path }} route del 10.200.0.0/24 dev tun0 src 10.200.0.2 table ovpn
ExecStart=-{{ ip_bin_path }} route add 10.200.0.0/24 dev tun0 src 10.200.0.2 table ovpn
ExecStart=-{{ ip_bin_path }} route add default via 10.200.0.1 dev tun0 table ovpn

[Install]
WantedBy=default.target
