[Unit]
Description=OpenVPN Service - Foreign server side
{% if setup_stunnel|bool %}
Wants=stunnel-ovpn-server.service
After=stunnel-ovpn-server.service
{% endif %}

[Service]
Type=forking
User=root
WorkingDirectory={{ ovpn_root }}
#ExecStart=/usr/sbin/openvpn --dev tun --verb {{ verbosity }} --secret {{ secret_path }} --ifconfig 10.200.0.1 10.200.0.2 --proto {{ ovpn_FS_server_proto }} --port {{ fs_server_port }} --auth none --log-append {{ fs_logpath }} --daemon
ExecStart=/usr/sbin/openvpn --dev tun --verb {{ verbosity }} --secret {{ secret_path }} --ifconfig 10.200.0.1 10.200.0.2 --proto {{ ovpn_FS_server_proto }} {% if setup_stunnel|bool %}--local 127.0.0.1{% else %} {% endif %} --port {{ fs_server_port }} --auth none --log-append {{ fs_logpath }} --daemon --writepid /run/openvpn_irclient/PID
ExecStartPost=sleep 5
PIDFile=/run/openvpn_irclient/PID
#ExecStartPost={{ ip_bin_path }} route add 10.20.30.0/24 dev tun0
SuccessExitStatus=0 2
Restart=always

[Install]
WantedBy=multi-user.target
